<div>
  <app-widget-area [data]="bigChart"> </app-widget-area>
</div>
<mat-divider> </mat-divider>
<br />
<div
  fxLayout="row"
  fxLayoutAlign="space-between center"
  fxLayoutGap="20px"
  class="stats-cards"
>
  <mat-card fxFlex="25">
    <app-widget-card
      [label]="'Tested'"
      [total]="'10k'"
      [percentage]="'50'"
      [data]="cards"
    ></app-widget-card>
  </mat-card>
  <mat-card fxFlex="25">
    <app-widget-card
      [label]="'Positive'"
      [total]="'10k'"
      [percentage]="'50'"
      [data]="cards"
    ></app-widget-card>
  </mat-card>
  <mat-card fxFlex="25">
    <app-widget-card
      [label]="'Negative'"
      [total]="'10k'"
      [percentage]="'50'"
      [data]="cards"
    ></app-widget-card>
  </mat-card>
  <mat-card fxFlex="25">
    <app-widget-card
      [label]="'Total Cases'"
      [total]="'10k'"
      [percentage]="'50'"
      [data]="cards"
    ></app-widget-card>
  </mat-card>
</div>
<br />
<mat-divider> </mat-divider>
<br />
<div>
  <div
    fxLayout="row"
    fxLayoutAlign="space-between center"
    fxLayoutGap="20px"
  ></div>

  <div fxFlex="60">
    <div class="mat-elevation-z8"></div>
  </div>
  <div fxFlex="40">
    <app-widget-pie [data]="pieChart"></app-widget-pie>
  </div>
</div>
